//- Polymer iron elements
link(rel = 'import', href = '../lib/iron-icons/iron-icons.html')

//- Polymer paper elements
link(rel = 'import', href = '../lib/paper-button/paper-button.html')
link(rel = 'import', href = '../lib/paper-fab/paper-fab.html')
link(rel = 'import', href = '../lib/paper-card/paper-card.html')
link(rel = 'import', href = '../lib/paper-tabs/paper-tabs.html')
link(rel = 'import', href = '../lib/paper-progress/paper-progress.html')

//- Custom elements
link(rel = 'import', href = '/elements/base-widget/base-widget.html')
//- link(rel = 'import', href = '/elements/components/text-component/text-component.html')
//- link(rel = 'import', href = '/elements/components/bar-component/bar-component.html')
