@require theme

// index specific styles
body
    margin 20px

// body
//   margin 0
//   font-family sans-serif
//   background-color #F9F9F9

// paper-tabs, paper-toolbar
//   margin-bottom 10px
//   box-shadow 0px 1px 3px rgba(0, 0, 0, 0.3)
//   background-color #F1F1F1

// #interfaceContainer
//   position absolute
//   bottom 0
//   left 0
//   right 0
