extends ../index.jade

block layout
  base-widget(width = '4', height = '4', x = '0', y = '0', title = 'Voltage')
    text-component(topic = '/electrical_interface/computer_voltage',
      message-type = 'std_msgs/Float32', label = 'Computer Voltage: ')
    bar-component(topic = '/electrical_interface/computer_voltage',
      message-type = 'std_msgs/Float32', label = '', min = '0', max = '24',
      step = '0.1')
    text-component(topic = '/electrical_interface/motor_voltage',
      message-type = 'std_msgs/Float32', label = 'Motor Voltage: ')
    bar-component(topic = '/electrical_interface/motor_voltage',
      message-type = 'std_msgs/Float32', label = '', min = '0', max = '12',
      step = '0.1')

  base-widget(width = '4', height = '4', x = '4', y = '0',
    title = 'CPU Temperature')
    text-component(topic = '/temperature/cpu', message-type = 'std_msgs/Int32',
      label = 'CPU Temperature (degrees C): ')

  // TODO: 3D POSE MESSAGES FROM STATE ESTIMATION

  base-widget(width = '4', height = '4', x = '8', y = '0', title = 'Depth')
    text-component(topic = '/state_estimation/depth',
      message-type = 'std_msgs/Float32', label = 'Value: ')
    bar-component(topic = '/state_estimation/depth',
      message-type = 'std_msgs/Float32', label = '', min = '0', max = '5',
      step = '0.1')
  
  base-widget(width = '8', height = '12', x = '0', y = '4', 
    title = 'Stream')
    img-feed-component(topic = '/camera/image_raw', 
      fullness = '0.80', aspect-ratio = '0.74')

