<link rel="import" href="/lib/polymer/polymer.html">

<dom-module id="text-component">
  <template>
    <div>
      <strong>[[label]]</strong> <span>[[value]]</span>
    </div>
  </template>

  <script type="text/javascript">
    /*
     *Import shared set of base Polymer properties from front end interface 
     * object
     */
    var polymerProperties = frontendInterface.polymerBaseProperties;
    
    /*
     * Add and specify Polymer properties unique to the component defined, and 
     * set their JavaScript types
     */
    polymerProperties.label = String;
    polymerProperties.value = String;

    Polymer({
      is: "text-component",
      properties: polymerProperties,
      attached: function () {
        var context = this;

        /*
         * Subscribe to topic defined by HTML attribute / Polymer 
         * property 'topic'
         */
        this.topicListener = new ROSLIB.Topic({
          ros: frontendInterface.ros,
          name: this.topic,
          messageType: this.messageType
        });

        // Update value property whenever an update is published on the topic
        this.topicListener.subscribe(function (message) {
          context.value = message.data.toString();
        });
      },
      detached: function () {
        this.topicListener.unsubscribe();
      }
    });
  </script>
</dom-module>

