<link rel="import" href="/lib/polymer/polymer.html">

<dom-module id="text-component">
  <template>
    <div>
      <strong>[[label]]</strong> <span>[[value]]</span>
    </div>
  </template>

  <script>
    var polymerProperties = frontendInterface.polymerBaseProperties;
    polymerProperties.label = String;
    polymerProperties.value = String;

    Polymer({
      is: "text-component",
      properties: polymerProperties,
      attached: function () {
        var context = this;

        this.topicListener = new ROSLIB.Topic({
          ros: frontendInterface.ros,
          name: this.topic,
          messageType: this.messageType
        });

        this.topicListener.subscribe(function (message) {
          context.value = message.data.toString();
        });
      },
      detached: function () {
        this.topicListener.unsubscribe();
      }
    });
  </script>
</dom-module>

