<link rel="import" href="/lib/polymer/polymer.html">

<dom-module id="td-pose-component">
  <template position = "relative">
    <div>
      <span>roll:   [[labelX]]    pitch:    [[labelY]]    yaw:    [[labelZ]]</span>
    </div>
  </template>
  <script src="//cdn.rawgit.com/mrdoob/three.js/master/build/three.min.js"></script>
  <script src="https://dl.dropboxusercontent.com/u/3587259/Code/Threejs/OrbitControls.js"></script>
  <script type="text/javascript"
    src="/elements/components/td-pose-component/td-pose-component.js">
  </script>

</dom-module>

