doctype html
html
  head
    script(type = 'text/javascript',
      src = '/lib/webcomponentsjs/webcomponents-lite.min.js')

    link(rel = 'stylesheet', media = 'screen',
      href = '/stylesheets/screen.css')
    link(rel = 'import', href = '/lib/polymer/polymer.html')

    //-
      Any polymer non-component imports for testing go here in the child
      template.
    link(rel = 'import', href = '/lib/paper-progress/paper-progress.html')

    script(type = 'text/javascript',
      src = '/lib/eventemitter2/lib/eventemitter2.js')
    script(type = 'text/javascript', src = '/lib/roslib/build/roslib.min.js')
    script(type = 'text/javascript', src = '/scripts/interface.js')

    script(type = 'text/javascript').
      var frontendInterface = new MRFrontendInterface({
        'host': 'localhost',
        'port': 8080
      });

    //- Include the relevant Polymer component element HTML file
    link(rel = 'import',
      href = '/elements/components/#{component}/#{component}.html')
  body
    div!= testHTML

