doctype html
html
  head
    link(rel='stylesheet', media='screen', href='/stylesheets/screen.css')
    link(rel='import', href='/lib/polymer/polymer.html')

    script(src='/lib/eventemitter2/lib/eventemitter2.js')
    script(src='/lib/roslib/build/roslib.min.js')
  body
    p= message

