doctype html
html
  head
    link(rel = 'stylesheet', media = 'screen', 
      href = '/stylesheets/screen.css')
    link(rel = 'import', href = '/lib/polymer/polymer.html')

    script(type = 'text/javascript',
      src = '/lib/eventemitter2/lib/eventemitter2.js')
    script(type = 'text/javascript', src = '/lib/roslib/build/roslib.min.js')

    script(type = 'text/javascript', src = '/scripts/interface.js')

    script(type = 'text/javascript').
      var frontendInterface = new MRFrontendInterface('localhost', 8080);
    
    link(rel = 'import', href = '/elements/components/text-component.html')
    link(rel = 'import', href = '/lib/paper-button/paper-button.html')
    link(rel = 'import', href = '/lib/paper-card/paper-card.html')
 
    link(rel = 'import', href = '/elements/base-widget.html')
    
  body
   
    text-component(topic = '/test_text_topic', 
      message-type = 'std_msgs/Int64', label = 'Number: ')
    paper-card(heading = 'Card Title')
      div.card-content some content
      div.card-actions
        paper-button
          Some action
    
    p space
    base-widget



