doctype html
html
  head
    link(rel = 'stylesheet', media = 'screen', 
      href = '/stylesheets/screen.css')
    link(rel = 'import', href = '/lib/polymer/polymer.html')

    script(type = 'text/javascript',
      src = '/lib/eventemitter2/lib/eventemitter2.js')
    script(type = 'text/javascript', src = '/lib/roslib/build/roslib.min.js')

    script(type = 'text/javascript', src = '/scripts/interface.js')

    script(type = 'text/javascript').
      var frontendInterface = new MRFrontendInterface('localhost', 8080);
    
    link(rel = 'import', href = '/lib/paper-button/paper-button.html')
    link(rel = 'import', href = '/lib/paper-card/paper-card.html')
    link(rel = 'import', href = '/elements/base-widget/base-widget.html')
    
    script(type = 'text/javascript').
      function loadTextComponent() {
        window.location.pathname = '/component/text/';
      }
      function loadBarComponent() {
        window.location.pathname = '/component/bar/';
      }


  body
    div#interfaceContainer
      base-widget

      paper-card(heading = 'Components')
        div.card-content View components by clicking on their respective button below. 
        div.card-actions
          paper-button(onclick='loadTextComponent()') Text Component
          paper-button(onclick='loadBarComponent()') Bar Component
    

    script(type = 'text/javascript'
      src = '/lib/webcomponentsjs/webcomponents-lite.min.js')
