doctype html
html
  head
    link(rel='stylesheet', media='screen', href='/stylesheets/screen.css')
    link(rel='import', href='/lib/polymer/polymer.html')

    script(src='/lib/eventemitter2/lib/eventemitter2.js')
    script(src='/lib/roslib/build/roslib.min.js')

    script(src='/scripts/interface.js')

    script.
      var frontendInterface = new MRFrontendInterface('localhost', 8080);
    
    link(rel='import', href='/elements/components/text-component.html')
 body
    p= message
    text-component(topic='/test_text_topic', 
      message-type='std_msgs/Int64', label='Number:')

