extends layout/layout

//- Page polymer elements
block elements
    if dev
        link(rel='import', href='/elements/index-elements.html')
    else
        link(rel='import', href='/elements/index-elements.vulcanized.html')

//- Page style (loaded at the end of head)
block styles
    link(rel='stylesheet', href='/styles/index.css')

//- Page scripts (loaded at the end of head only if absolutely necessary)
//- block scripts_head

//- Page scripts (loaded at the end of body)
block scripts
    script(src='/scripts/index.js')

//- Main content
block body
    h1 Hello World!
    h2 Hello #{title}!
  //-   script(type = 'text/javascript').
  //-     var frontendInterface = new MRFrontendInterface({
  //-       'host': 'localhost',
  //-       'port': 8080,
  //-       'containerId': 'interfaceContainer',
  //-       'topBarId': 'topBar'
  //-     });

  //-     window.onload = function () {
  //-       frontendInterface.initialize();
  //-     }

  //-   link(rel = 'import', href = '/lib/iron-icons/iron-icons.html')
  //-   link(rel = 'import', href = '/lib/paper-button/paper-button.html')
  //-   link(rel = 'import', href = '/lib/paper-fab/paper-fab.html')
  //-   link(rel = 'import', href = '/lib/paper-card/paper-card.html')
  //-   link(rel = 'import', href = '/lib/paper-tabs/paper-tabs.html')
  //-   link(rel = 'import', href = '/lib/paper-progress/paper-progress.html')
  //-   link(rel = 'import', href = '/elements/base-widget/base-widget.html')
  //-   link(rel = 'import',
  //-     href = '/elements/components/text-component/text-component.html')
  //-   link(rel = 'import',
  //-     href = '/elements/components/bar-component/bar-component.html')

  //- body
  //-   paper-tabs#topBar
  //-     paper-tab Main Page
  //-     paper-tab Second Page
  //-     paper-tab Third Page
  //-   div#interfaceContainer
  //-     block layout

  //-   script(type = 'text/javascript'
  //-     src = '/lib/webcomponentsjs/webcomponents-lite.min.js')

