doctype html
html
  head
    link(rel = 'stylesheet', media = 'screen', 
      href = '/stylesheets/screen.css')
    link(rel = 'import', href = '/lib/polymer/polymer.html')

    script(type = 'text/javascript',
      src = '/lib/eventemitter2/lib/eventemitter2.js')
    script(type = 'text/javascript', src = '/lib/roslib/build/roslib.min.js')

    script(type = 'text/javascript', src = '/scripts/interface.js')

    script(type = 'text/javascript').
      var frontendInterface = new MRFrontendInterface({
        'host': 'localhost',
        'port': 8080,
        'containerId': 'interfaceContainer',
        'topBarId': 'topBar'
      });

      window.onload = function () {
        frontendInterface.initialize();
      }

    link(rel = 'import', href = '/lib/iron-icons/iron-icons.html')
    link(rel = 'import', href = '/lib/paper-button/paper-button.html')
    link(rel = 'import', href = '/lib/paper-fab/paper-fab.html')
    link(rel = 'import', href = '/lib/paper-card/paper-card.html')
    link(rel = 'import', href = '/lib/paper-tabs/paper-tabs.html')
    link(rel = 'import', href = '/lib/paper-progress/paper-progress.html')
    link(rel = 'import', href = '/elements/base-widget/base-widget.html')
    link(rel = 'import', 
      href = '/elements/components/text-component/text-component.html')
    link(rel = 'import', 
      href = '/elements/components/bar-component/bar-component.html')
    link(rel = 'import', 
      href = '/elements/components/pose-component/pose-component.html')

  body
    paper-tabs#topBar
      paper-tab Main Page
      paper-tab Second Page
      paper-tab Third Page
    div#interfaceContainer
      block layout

    script(type = 'text/javascript'
      src = '/lib/webcomponentsjs/webcomponents-lite.min.js')

