extends layout/layout

//- Page polymer elements
block elements
    if dev
        link(rel='import', href='/elements/index-elements.html')
    else
        link(rel='import', href='/elements/index-elements.vulcanized.html')

//- Page style (loaded at the end of head)
block styles
    link(rel='stylesheet', href='/styles/index.css')

//- Page scripts (loaded at the end of head only if absolutely necessary)
//- block scripts_head

//- Page scripts (loaded at the end of body)
block scripts
    script(src='/scripts/index.js')

//- Main content
block body
    h1 Hello World!
    h2 Hello #{title}!
