doctype html
html
  head
    script(type="text/javascript", src=
      "http://cdn.robotwebtools.org/EventEmitter2/current/eventemitter2.min.js")

    script(type="text/javascript", src=
      "http://cdn.robotwebtools.org/mjpegcanvasjs/current/mjpegcanvas.min.js")

    script(type="text/javascript").
      /**
       * Setup all visualization elements when the page is loaded.
       */
      function init() {
        // Create the main viewer.
        var viewer = new MJPEGCANVAS.Viewer({
          divID : 'mjpeg',
          host : 'localhost',
          port : '8008',
          width : 640,
          height : 480,
          topic : '/camera_front_left/image_rect_color'
        });
      }

  body(onload="init()")
    h1
      Simple MJPEG Canvas Example
    #mjpeg
