@require vars

html
    -ms-text-size-adjust 100%
    -webkit-text-size-adjust 100%
    font-size 16px

html, body
    margin 0px
    padding 0px
    min-height 100%
    color $primary-text-color
    background-color $body-background
    font-family $primary-font, $primary-backup-font
    font-weight 400
    -webkit-font-smoothing antialiased

h1, h2, h3, h4, h5, h6,
    font-weight 400
    margin 0px
    padding 0px
    line-height 1em

h1, h3, h5
    font-family $secondary-font, $secondary-backup-font

h1
    font-size 50px
    margin 30px 0px

h2
    color $secondary-text-color
    font-size 35px
    margin 20px 0px

h3
    font-size 25px
    margin 15px 0px

h4
    font-size 20px

a, a:active, a:visited, a:focus
    color $link-color
    text-decoration none

a
    &:hover
        color $link-color
        text-decoration underline
