@require font

//- Font @stylint ignore
$primary-font = 'Source Code Pro'
$primary-backup-font = 'sans-serif'
$secondary-font = 'Source Code Pro'
$secondary-backup-font = 'sans-serif'

//- Base style variables @stylint ignore
$body-background = #f2f7fa
$primary-text-color = #444444
$secondary-text-color = #444444
$link-color = #444444
