<launch>
  
  <!-- rosbridge -->
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
    <arg name="port" value="8080"/>
  </include>

  <!-- Main Application -->
  <node pkg="frontend" type="app.js" args="test" name="frontend" output="screen">
  </node>

  <!-- Test Publisher -->
  <node pkg="frontend" name="frontend_test_publisher" type="publisher.py">
  </node>

</launch>
