<launch>

  <!-- rosbridge -->
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
    <arg name="port" value="8080"/>
  </include>

  <!-- Web Video Server-->
  <node pkg="web_video_server" type="web_video_server" name="web_video_server"
    output="screen">
  </node>

  <!-- Main Application -->
  <arg name="layout" />
  <node pkg="frontend" type="app.js" args="$(arg layout)"
    name="frontend" output="screen">
  </node>
</launch>

